:root {
 /* Primary */

--Red: hsl(0, 78%, 62%);
--Cyan: hsl(180, 62%, 55%);
--Orange: hsl(34, 97%, 64%);
--Blue: hsl(212, 86%, 64%);

 /* Neutral */

--Very-Dark-Blue: hsl(234, 12%, 34%);
--Grayish-Blue: hsl(229, 6%, 66%);
--Very-Light-Gray: hsl(0, 0%, 98%);

--font-poppins: 'Poppins', sans-serif;
}
#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}
body {
  font-family: var(--font-poppins);
  background-color: var(--Very-Light-Gray);
}
.wrapper {
  display: grid;
  place-items: center;
}
.card {
  width: 90%;
  height: 200px;
  border: 1px solid white;
  background-color: white;
  border-radius: 8px;
  box-shadow: 0px 6px 140px rgb(221, 221, 255);
  margin-bottom: 2rem;
  padding: 1em;
  text-align: left;
}
.supervisor {
  border-top: 4px solid var(--Cyan);
}
.teamBuilder {
  border-top: 4px solid var(--Red);
}
.karma {
  border-top: 4px solid var(--Orange);
}
.calculator {
  border-top: 4px solid var(--Blue);
}
.cardHead {
  font-size: 1.4rem;
  margin-bottom: -0.5rem;
  padding: 0 0.5em;
}
 .paragraph {
  color: var(--Grayish-Blue);
}
.card .paragraph {
  padding: 0 0.8em;
  font-size: 0.8rem;
}
.card img {
  float: right;
}
header .paragraph {
  font-size: 0.98rem;
  margin-bottom: 5em;
}
.title {
  color: var(--Very-Dark-Blue);
  font-size: 1.5rem;
}
.thin {
  font-weight: 200;
  margin-top: 2em;
  margin-bottom: 0;
}
.bold {
  margin-top: 0.3em;
}
.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

@media (min-width: 768px){
  .App {
    width: 750px;
  }
  .wrapper {
    grid-template-columns: repeat(3, 33%);
    height: 100vh;
  }
  .card {
    width: 85%;
  }
  header .paragraph {
    margin: 0 20% 3em;
    font-size: 0.8rem;
  }
  .title {
    font-size: 1.9rem;
  }
  .bold {
    margin-bottom: 0.5em;
  }
  .karma {
    grid-column: 2;
    margin-top: -1.7em;
  }
  .calculator {
    margin-top: -115%;
    grid-column: 3;
    margin-left: 2em;
  }
  .teamBuilder {
    margin-bottom: -1.8em;
  }
  .supervisor {
    margin-bottom: -120%;
    margin-right: 2em;
  }
}
@media (min-width: 992px){
  .App {
      width: 970px;
  }
  .supervisor {
    margin-bottom: -90%;
  }
  .calculator {
    margin-top: -90%;
  }
}
@media (min-width: 1200px){
  .App {
      width: 1170px;
  }
  .supervisor {
    margin-bottom: -90%;
  }
  .calculator {
    margin-top: -83%;
  }
  .teamBuilder {
    margin-bottom: -4em;
  }
  .karma {
    margin-top: -4em;
  }
}